<h1>Add a merchant</h1>

<form action="/merchants" method= "post">
  
<label for = "merchant" >New merchant: </label>
<input type="text" name="merchant">

<input type="submit" value = "Add Merchant">

</form>