<!DOCTYPE html>
<html>
<head>
  <title>MoneyCashboard</title>
</head>
<body>
<nav>
  <ul>
    <li><a href="/merchants">Merchants</a></li>
    <li><a href="/tags">Categories</a></li>
    <li><a href="/transactions">Transactions</a></li>
  </ul>
</nav>
<%= yield %>

</body>
</html>