<!DOCTYPE html>
<html>
<head>
  <title>MoneyCashboard</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/accounts">Accounts</a></li>
    <li><a href="/transactions">Transactions</a></li>
    <li><a href="/tags">Categories</a></li>
    <li><a href="/merchants">Merchants</a></li>
  </ul>
</div>
<%= yield %>

</body>
</html>