<!DOCTYPE html>
<html lang 'en'>
<head>
  <meta charset="utf-8">
  <title>£ MoneyCashboard</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<nav>
<div class="go_left">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/account">Account</a></li>
    <li><a href="/transactions">Transactions</a></li>
  </ul>
</div>

<div class="go_right">
  <div class="logo">
  Login
    </div>
  </div>
</nav>  

<div class="main">

<%= yield %>
</div>

<footer>
  <h4>MoneyCashboard&copy 2016</h4>
  </footer>

</body>
</html>