html, body {
  margin: 5px;
  padding: 5px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 5px;
    overflow: hidden;
    background-color: #6A5ACD;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: museo_sans_rounded100,helvetica,tahoma,sans-serif;
    /*text-transform: uppercase;*/
}

.nav li a:hover {
    background-color: #111;
}

.main {
    background-image: url();
    min-height: 700px;
    background-size: cover;
    font-family: museo_sans_rounded100,helvetica,tahoma,sans-serif;
}







