html, body { 
  margin: 0px;
  padding: 0px;
  background-color: ;
}

.go_left {
  float: left;
}

.go_right {
  float: right;
}

.logo{
  color: white;
  line-height: 65px;
  margin-right: 55px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

#home_background_image {
    height: 80em;
    width: 100%;
    background: url('Lunch.jpg') no-repeat center fixed;
    background-size: cover;
}


h2 {
    font-size: 50px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    left: 13em;
    bottom:4em;
    color: white;
}

nav {
  background-color: #34314c;
  height: 65px;
  left: 0px;
  top: 0px;
  position: fixed;
  width: 100%;
  border-bottom: solid 0.5px #ffc952;
}

nav ul {
  padding-left: 10px;
  margin: 0px;
  list-style-type: none;
  line-height: 60px;
}

nav ul li {
  display: inline-block;
  margin-right: 75px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  line-height: 65px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

nav ul li a:hover {
    background-color: #47b8e0;
}


main {
    position: fixed;
}

.searchstats {
    float: right;
    text-align: right;
    margin-top: 400px;
    margin-left: 20px;
}

p {
    display: inline-block;
    font-size: 22px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    text-transform: none;
    margin: 0 18px 0 0;
    padding-bottom: 10px;
    color: #34314c;
}

table {
    margin-top: 0px;
    margin: 50px;
    width: 90%;
    table-layout: relative;
    height: 250px;
    /*overflow-x: auto;*/
    border: 2px solid;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #34314c;
}

tr :hover{   
    background-color: #47b8e0;
}

th {
    padding: 15px 15px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #34314c;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    background-color: none;
    border-radius: 0px;
    border-bottom: solid 2px;
    background-color: none;
}

td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 16px;
    color: #34314c;
    border-bottom: solid 1px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    /*border-top: solid 1px;*/
}

footer {
  background-color: #47b8e0;
  height: 40px;
  text-align: right;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  color: white;
  border-top: solid 1px #ffc952;
}

h4{
  margin: 10px;
  font-size: 15px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  padding-right: 15px;
}

h3{
  margin: 25px;
  font-size: 30px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  padding-right: 15px;
  text-align: center;
}

h3 a {
    color: #47b8e0;
    text-decoration: none;
}

h3 a:hover {
    color: #ffc952;
}

h5 {
    color: white;
}

#search_form {
    margin-top: 400px;
    margin-left: 8px;
    position: relative;
    float: left;
     width: 300px;
     height: 35px;
     font-family: 'Open Sans', sans-serif;
     text-align: center;
     font-size: 18px;
     line-height: 24px;
     font-weight: 400;
     color: #47b8e0;
     text-decoration: none;
     border-radius: 10px;
     padding: 8px;
     border: 2px solid #47b8e0;
     border: inset 2px solid #47b8e0;
     vertical-align: middle;
}

#transaction_form {
    margin: auto;
    position: relative;
    width: 600px;
    height: 320px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    font-weight: 350;
    color: #34314c;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #34314c;
    border: inset 2px solid #333;
    }

 #transaction_form a {
    text-decoration: none;
    color: #47b8e0;
 }   

 #transaction_form a:hover {
     color: #ffc952;
 }

 #merchant_form {
    margin: auto;
    position: relative;
    width: 400px;
    height: 120px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    color: #34314c;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    border: 1.5px solid #34314c;
    border: inset 2px solid #333;
 }

 #tag_form {
    margin: auto;
    position: relative;
    width: 600px;
    height: 320px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    font-weight: 350;
    color: #34314c;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #34314c;
    border: inset 2px solid #333;
 }

 #new_transaction p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    display: block;
 }

 #new_transaction h4 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    display: block;
    font-size: 30px;
    margin-top: 3px;
 }

 #new_transaction a {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    display: block;
    font-size: 25px;
    margin-top: 8px;
 }

 #new_transaction a:hover {
     color: #ffc952;
 }

 #merchant_new p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    display: block;
 }

 #merchant_new h4 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    display: block;
    font-size: 30px;
    margin-top: 3px;
  }

 #merchant_new a {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 25px;
  text-decoration: none;
  display: block;
  font-size: 25px;
  margin-top: 8px;
 }

 #merchant_new a:hover {
     color: #ffc952;
 }

 #tag_new p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    display: block;
 }

 #tag_new h4 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    display: block;
    font-size: 30px;
    margin-top: 3px;
  }

  #tag_new a {
   font-family: 'Open Sans', sans-serif;
   text-align: center;
   line-height: 25px;
   text-decoration: none;
   display: block;
   font-size: 25px;
   margin-top: 8px;
  }

#tag_new a:hover {
     color: #ffc952;
 }   








